:root {
    //colors 
    --primary-color: #001B2E;
    --secondary-color: #f3b344;
    --tertiary-color: #ffffff;
    --accent-color: #babbbc;
    --hover-color: #a6a6a6;
    --search-field-color: #ADB6C4;
    --search-field-active: #294C60;
    --btn-color: #eb5757;
}